<div class="rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">First Day</div>
        <section class='flex flex-col gap-y-3.5'>
          <div class="px-3 cursor-pointer rounded shadow-sm">Deadlift</div>
          <div class="px-3 cursor-pointer rounded shadow-sm">Bench Press</div>
          <div class="px-3 cursor-pointer rounded shadow-sm">Row</div>
          <div (click)="openModal()" class="px-3 cursor-pointer rounded shadow-sm">Row</div>
        </section>
      </div>
  </div>

   <tracker-modal>
       adf
    </tracker-modal>